<section id="about-us-section" class="about-us-section">
  <div class="container">
    <div class="about-us-inner">
      <div class="about-us-text">
        <h2 class="name-sect">Про Меблерію</h2>
        <p>
          У Меблерії ми прагнемо створювати затишок та функціональність у
          кожному домі. Наша місія - пропонувати високоякісні меблі, що
          поєднують у собі сучасний дизайн, довговічність та доступність. Ми
          віримо, що ідеальний інтер'єр починається з правильних меблів.
        </p>
      </div>
      <div class="picture-box">
        <picture>
          <source
            srcset="/img/about-us/ph.jpg 1x, /img/about-us/phnret.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="/img/about-us/tab.jpg 1x, /img/about-us/tabret.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/about-us/des.jpg 1x, /img/about-us/deskret.jpg 2x"
            media="(min-width: 1158px)"
          />
          <img
            src="/img/about-us/des.jpg"
            alt="about-furniture"
            width="644"
            height="436"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
