<section id="faq-section" class="faq-section">
  <div class="container">
    <h2 class="faq-title">Часті запитання</h2>
    <ul class="qa">
      <li class="faq-item">
        <button class="faq-quest" aria-expanded="false">
          Як здійснюється доставка меблів?
          <img
            src="./img/faq/faq-icon.svg"
            alt="icon"
            class="faq-icon"
            width="32"
            height="32"
          />
        </button>
        <div class="faq-answ" hidden>
          <p>
            Ми доставляємо замовлення по всій Україні через надійні служби.
            Термін доставки зазвичай складає 3–7 днів залежно від регіону.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <button class="faq-quest" aria-expanded="false">
          Чи є можливість вибрати колір або матеріал?
          <img
            src="./img/faq/faq-icon.svg"
            alt="icon"
            class="faq-icon"
            width="32"
            height="32"
          />
        </button>
        <div class="faq-answ" hidden>
          <p>
            Так, у багатьох моделях доступні варіанти оббивки та кольорів. Усі
            доступні опції вказані на сторінці товару.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <button class="faq-quest" aria-expanded="false">
          Чи можна повернути товар, якщо він не підійшов?
          <img
            src="./img/faq/faq-icon.svg"
            alt="icon"
            class="faq-icon"
            width="32"
            height="32"
          />
        </button>
        <div class="faq-answ" hidden>
          <p>
            Так, ви можете повернути товар протягом 14 днів, якщо він не був у
            користуванні та збережений у первинному вигляді.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <button class="faq-quest" aria-expanded="false">
          Чи надаєте ви послугу збирання меблів?
          <img
            src="./img/faq/faq-icon.svg"
            alt="icon"
            class="faq-icon"
            width="32"
            height="32"
          />
        </button>
        <div class="faq-answ" hidden>
          <p>
            Так, під час оформлення замовлення можна обрати послугу збирання.
            Наші майстри зберуть меблі у зручний для вас час.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <button class="faq-quest" aria-expanded="false">
          Як здійснити оплату?
          <img
            src="./img/faq/faq-icon.svg"
            alt="icon"
            class="faq-icon"
            width="32"
            height="32"
          />
        </button>
        <div class="faq-answ" hidden>
          <p>
            Ми приймаємо оплату карткою онлайн, банківським переказом або
            післяплатою при отриманні.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
