<footer class="footer">
  <div class="container footer-container">
    <a href="./index.html" class="footer-logo-link">
      <svg class="footer-logo-icon" width="221" height="49">
        <use href="./img/sprite.svg#logo"></use>
      </svg>
    </a>

    <!---->

    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a href="#furniture-list-section" class="footer-nav-link js-scroll"
            >Наші меблі</a
          >
        </li>
        <li class="footer-nav-item">
          <a href="#about-us-section" class="footer-nav-link js-scroll"
            >Про нас</a
          >
        </li>
        <li class="footer-nav-item">
          <a href="#faq-section" class="footer-nav-link js-scroll"
            >Часті питання</a
          >
        </li>
        <li class="footer-nav-item">
          <a href="#feedbacks" class="footer-nav-link js-scroll">Відгуки</a>
        </li>
      </ul>
    </nav>

    <!---->

    <ul class="footer-social-list">
      <li class="footer-social-item">
        <a
          href="https://www.youtube.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="footer-social-link"
        >
          <svg class="footer-social-icon" width="24" height="24">
            <use href="./img/sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="footer-social-link"
        >
          <svg class="footer-social-icon" width="24" height="24">
            <use href="./img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="footer-social-link"
        >
          <svg class="footer-social-icon" width="24" height="24">
            <use href="./img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>

    <!---->

    <p class="footer-copyright">© 2025 Furniweblab. Всі права захищені.</p>
  </div>
</footer>
