<section class="hero-section section-reset">
  <div class="hero-back">
    <div class="container">
      <div class="box-info">
        <h1 class="hero-title">
          Створіть свій <br class="desktop-break" />
          ідеальний дім
        </h1>

        <h2 class="hero-deck">
          Відкрийте для себе колекцію стильних та комфортних меблів, які
          перетворять ваш простір. Наша продукція поєднує в собі елегантність та
          функціональність.
        </h2>
        <a class="btn btn-link js-scroll" href="#feedbacks"
          >Що про нас думають</a
        >
      </div>
    </div>
  </div>
</section>
