.iziToast .iziToast-texts {
  margin-left: 0 !important;
}

/* фіксуємо ширину всіх тостів */

.iziToast {
  width: 300px !important;
  max-width: none !important; /* щоб не обмежувалося maxWidth */
}

.iziToast-wrapper {
  width: 100% !important; /* інколи потрібно для точного центрування */
}

.iziToast .iziToast-message {
  text-align: left !important;
}

.iziToast .iziToast-icon {
  filter: brightness(0) invert(1); /* стане білою */
}

.iziToast,
.iziToast .iziToast-message,
.iziToast .iziToast-title {
  font-family: 'Raleway', system-ui, -apple-system, 'Segoe UI', Roboto,
    sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important; /* якщо треба жирніше */
  color: #ffffff !important;
}

/* error: backgroundColor: '#EF4040', */
/* info: backgroundColor: '#009b18', */

.iziToast .iziToast-close {
  color: #fff !important;
  opacity: 1 !important; /* щоб не була напівпрозора */
}

@media only screen and (min-width: 500px) {
  .iziToast {
    width: 370px !important;
  }
}
